@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
body {
    /* background: url(https://images.unsplash.com/photo-1519501025264-65ba15a82390?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&w=1000&q=80) no-repeat center center / cover; */
    background-color: rgb(175,238,238);
    overflow-x: hidden;
}

:root {
    --primary: #24241a;
    --secondary: #1A1A24;
    --tertiary: #4f4f6e;
    --container: rgba(26, 26, 36, 0.85);
    --custom-text: 'Oswald', sans-serif;
}

a {
    font-family: var(--custom-text);
}

p {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.link {
    color: black;
}

#header {
    background-color: var(--container);
}

.container {
    background-color: var(--container);
}

.headerText {
    font-family: var(--custom-text);
    text-shadow: 3px 3px #000000;
    color: white;
}

.icon {
    height: 5%;
    width: 5%;
}

#picofme {
    height: 100%;
    width: 25%;
    margin: auto auto;
    border-radius: 10px;
}

.txt-type > .txt {
	border-right: 0.2rem solid;
}